<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/a11y-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <title>Subway Data</title>
</head>
<body>
    <div id="header-area">
        <div id="header">
            <ul>        
                <li>
                    <img src="{{ url_for('static', filename='subwaydata_logo.svg') }}" alt="MTA Subway Data Explorer" class="logo">
                </li>    
                <li><a class="active" href="{{ url_for('index') }}">Explore</a></li>
                <li><a href="{{ url_for('get_about') }}">About the Data</a></li>
            </ul>
        </div>
    </div>

    <div id="main-container">
        <div id="main-header">
            <h1>Ask any question about MTA Subway data.</h1>
            <h2>Ridership data for every station, down to the hour.</h2>
        </div>
        <form id="query-form">
            <input type="text" id="query-input" placeholder="Enter your query (e.g., 'What was the busiest station in Queens during January 2024?')" required>
            <button type="submit" id="search-button">
                <img src="{{ url_for('static', filename='search.png') }}" alt="Search">
            </button>
        </form>
        <div id="instructions">
            <p>For better results, if your query mentions a station, follow the station name with at least one train line that services that station.</p>
            <i>Example: 'What day in 2023 did Bedford Ave (L) have the most ridership?'</i>
        </div>
        <div id="loading-indicator" class="spinner" hidden></div>
        <div id="results" hidden></div>
        <div id="sql-container" hidden>
            <ul>
                <li id="sql-trigger" class="collapsible" onclick="toggleSQL()">Generated SQL</li>
            </ul>
            <pre id="sql-block">
                <code id="sql-snippet" class="sql hljs" contenteditable></code>
            </pre>
            <div id="sql-actions" hidden>
                <button id="copy-sql" onclick="copySQL()">Copy SQL</button>
                <button id="send-sql">Send SQL Query</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
